@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 229, 229;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

* {
  -webkit-overflow-scrolling: touch;
}

/* Technical Grid Background */
.bg-tech-grid {
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, rgba(38, 38, 38, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(38, 38, 38, 0.3) 1px, transparent 1px);
}

.scanline {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
  background-size: 100% 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 50;
  opacity: 0.3;
}

/* Global Custom Scrollbar Utility */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: #262626 transparent;
}

/* Chrome, Safari and Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #262626;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, transparent 25%, rgba(16, 185, 129, 0.1) 50%, transparent 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

.skeleton-box {
  background: rgba(39, 39, 42, 0.5);
  /* zinc-800 */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(250%);
    opacity: 0;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}